@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    @apply bg-transparent w-36 h-36 sm:w-44 sm:h-44 grid place-content-center rounded-lg text-white font-bold border-2 border-primary text-4xl;
  }
  .form-input {
    @apply pl-10 border border-terciary w-full px-3 py-2 mt-4 rounded-md focus:outline-none;
  }
}

